{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

{% block content %}
{% comment %} <form action="">
    {% for field in form.visible_fields %}
    {{field.label_tag}}
    {{field}}
    {% endfor %}

    {% for field in form.hidden_fields %}
    {{hidden}}
    {% endfor %}
    <input type="submit" value="submit">
</form> {% endcomment %}
<form action="">
    {{ form.as_p }}
    <input type="submit" value="submit">
</form>
{% endblock content %}